
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
body{
    background-color: #000000;
    color: #fff;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}
.heading{
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0px;
    padding: 10px 0;
}
.footer a {
    color: #7d7c7c;
}

.right{
    margin: 16px 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
}
.header > *{
    padding: 20px;
}
.spotifyplaylists{
    padding: 16px;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 66vh;
    overflow-y:auto;
}
.card{
    width:200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}
.card>*{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card{
    position: relative;
}
.play{
    position:absolute;
    right: 14px;
    top: 155px;
    transition: all 1s ease-in;
}


::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1a1a1a;
}
.buttons>*{
    margin: 0 12px;
}
.signup-btn{
    background-color: rgb(27, 27, 27);
    color: #575757;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signup-btn:hover{
    font-size: 18px;
    color: #ffffff;
}

.login-btn{
    background-color: #ffffff;
    border-radius: 18px;
    width: 80px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    padding:10px;
    font-size: 16px;
}
.login-btn:hover{
    font-size: 17px;
}